* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width:100%;
  min-height: 100vh;
  height: auto;
  /* border: #333 solid 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

section:nth-child(even) {
  background: crimson;
  color:#fff;
}

section:nth-child(odd) {
  background: darkseagreen;
  color:#fff;
}

h1.sticky {
  font-size: 5vmax;
  text-align: center;
  position: sticky;
  top: 10px;
  width:40%;
}
