* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Roboto', Arial, verdana, sans-serif;
}

#electric {
  background: #F2EFC4;
}

#fire {
  background: #FDCF48;
}

#grass {
  background: #BED95F;
}

#water {
  background: #D0F2EC;
}

header {
  background: #eee;
  padding: 20px;
  height:auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  z-index: 999;
}

header p {
  padding-left: 20px;
  font-size: 4vmax;
  text-transform: uppercase;
}

header img {
  max-height: 64px;
}

nav {
  color: black;
  padding: 20px;
  z-index: 998;
  width: 100%;
  text-align: right;
  text-transform: capitalize;
  background: #eee;
  font-size: 1em;
  padding: 1em;
}

nav a:link {
  color: black;
  margin: 0px 10px;
  text-decoration: none;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: #830283;
}

nav a:active {
  color: crimson;
}

nav a.currentlightning {
  text-decoration: underline;
  color: #F2AE2E;
}

nav a.currentfire {
  text-decoration: underline;
  color: #D92949;
}

nav a.currentgrass {
  text-decoration: underline;
  color: #8CBF3F;
}

nav a.currentwater {
  text-decoration: underline;
  color: #389BA6;
}

.bigtext {
  font-size: 4vmax;
  color: #555;
  text-transform: uppercase;
  padding: 20px;
  position: absolute;
  left: 2vw;
  top: 12vh;
}

.quotesection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  height: auto;
  min-height: 85vh;
  grid-column-gap: 2%;
  margin-bottom: 2%;
}

p.pull {
  font-size: 4vmin;
  line-height: 4.1vmin;
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-style: italic;
  background-size: cover;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  padding: 20px 0;
}

.pulltext {
  grid-column: 2 / 6;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.pulltext p {
  padding-bottom: 2%;
}

.center {
  display: grid;
  align-items: center;
  justify-items:center;
  grid-row: 1 /5;
}

.quoteimg {
  width: auto;
  max-width: 40vw;
  background-size: contain;
  border-right: solid #555 50px;
  grid-column: 1 /2;
  grid-row: 1 / 5;
}

table {
  width: 25vh;
  border-collapse: collapse;
  margin-top: 10px;
  background: #eee;
}

td {
  border: #555 2px solid;
  padding: 8px;
  font-size: 0.8em;
  text-align: center;
}

td.firstcolumn {
  text-align: left;
  font-weight: bold;
}

.base_stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  grid-column: 2/3;
  grid-row:3/5;
  background: #999;
  border-radius: 10px;
  padding: 4%;
}

.str_img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  grid-column: 3/4;
  grid-row: 3/5;
  background: #999;
  border-radius: 10px;
  padding: 4%;
}

.str_img h2 {
  padding-bottom: 4%;
}

.wkn_img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  grid-column: 4/5;
  grid-row: 3/5;
  background: #999;
  border-radius: 10px;
  padding: 4%;
}

.wkn_img h2 {
  padding-bottom: 4%;
}

.divider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background: url(../images/gray-white-pixelated.jpg) center center fixed;
  background-size: cover;
  height: 25vh;
  color: #555;
}

.dividerh1 {
  font-size: 4vmax;
  color: #555;
  text-transform: uppercase;
  padding: 20px;
  text-shadow: 4px 4px #bbb;
}

article {
  padding: 20px 20px 20px 20px;
  columns: 2;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

article h1 {
  column-span: all;
  font-size: 3em;
  font-family: Roboto;
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 1.1em;
  padding-bottom: 20px;
}

.evolution {
  background: #eee;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.evolution figure {
  background: white;
  border: solid black;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
}

footer {
  background: #CD3D3A;
  border-top: #fff solid 5px;
  padding: 40px;
  text-align: right;
}
