* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: Arial, verdana, sans-serif;
  background: #F2EFC4;
}

header {
  background: #eee;
  padding: 20px;
  height:auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  z-index: 999;
}

header p {
  padding-left: 20px;
  font-size: 4vmax;
  text-transform: uppercase;
}

header img {
  max-height: 64px;
}

nav {
  color: black;
  padding: 20px;
  z-index: 998;
  width: 100%;
  text-align: right;
  text-transform: capitalize;
  background: #eee;
  font-size: 1em;
  padding: 1em;
}

nav a:link {
  color: black;
  margin: 0px 10px;
  text-decoration: none;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: #830283;
}

nav a:active {
  color: crimson;
}

nav a.currentlightning {
  text-decoration: underline;
  color: #F2AE2E;
}

.bigtext {
  font-size: 4vmax;
  color: #555;
  text-transform: uppercase;
  padding: 20px;
  position: absolute;
  left: 75vw;
  top: 12vh;
}

.quotesection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

p.pull {
  font-size: 42px;
  line-height: 48px;
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-style: italic;
  background-size: cover;
  padding-bottom: 40px;
}

.pulltext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
  .pulltext p {
    padding-bottom: 20px;
  }

.quoteimg {
  width: auto;
  max-width: 40vw;
  background-size: contain;
  border-right: solid #555 50px;
}

table {
  width: 25vh;
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  border: #555 2px solid;
  padding: 8px;
  font-size: 0.8em;
  text-align: center;
}

td.firstcolumn {
  text-align: left;
  font-weight: bold;
  background: #F2EFC4;
}

.hor_div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.ver_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.divider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background: url(../images/gray-white-pixelated.jpg) center center fixed;
  background-size: cover;
  height: 25vh;
  color: #555;
}

.dividerh1 {
  font-size: 4vmax;
  color: #555;
  text-transform: uppercase;
  padding: 20px;
}

article {
  padding: 20px 20px 20px 20px;
  columns: 2;
}

article h1 {
  column-span: all;
  font-size: 3em;
  font-family: Roboto;
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 1.1em;
}

.evolution {
  background: #eee;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.evolution figure {
  background: white;
  border: solid black;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
}

footer {
  background: #CD3D3A;
  border-top: #fff solid 5px;
  padding: 40px;
  text-align: right;
}
